In [209]:
import pandas as pd
import json
import copy
from faker import Faker
from datetime import datetime, timedelta
import re
import random

Template Json Pagos Workflow

In [210]:
pagostemp = {
    "infoGeneral":{
      "compania":"1 - Empresa ABC",
      "bancoCorresponsal": "Bancolombia",
      "estado":"Cargado",
      "fechaCarga":"17-03-2023"
     },
     "infoOrdenante": {
      "numCuenta": {
        "id": "cta123456",
        "tipo": "AHO-Ahorros"
      },
      "nombre": " Filial Empresa ABC LTDA",
      "direccion": {
          "numero": "Cl 14 52 A 20",
          "ciudad": "Medellin",
          "pais": "CO"
       }
      },
      "infoBeneficiario": {
        "numCuenta": {
          "id": "cta123456",
          "tipo": "AHO-Ahorros"
        },
        "nombre": " Carbones LTDA",
        "direccion": {
            "numero": "645 - Bulevar Sunset",
            "ciudad": "Singapore",
            "pais": "SG"
         }
      },
     "infoPagos": 
      {
        "Referencias": {
          "id": "pacs8bizmsgidr01",
          "endToEndId": "pacs008EndToEndId-111",
          "uetr": "f1636d6e-1ed0-4b56-a7be-5706eb62ba9f"
        },
        "Monto": {
          "moneda": "USD",
          "valor": "50.00"
        },
        "fechaPago": "17-03-2023",
        "cargos": "Compartidos",
        "infoAdicional": "Facturas No: 999999999"
      }
  }

In [211]:
arreglo = []
faker = Faker('es_ES')
fecha_actual = datetime.now()

Leer archivo de Datos

In [212]:
excel_file = '/Users/wilfredysantamariaruiz/Downloads/Data Dummy DEMO EMH For Corporate.xlsx'

In [213]:
df = pd.read_excel(excel_file)

In [214]:
df.head(2)

  Empresa Negocio Banco                cuenta Divisa       Depto
0  Nestle  Purina  BBVA  00123456789123456789    USD  Financiero
1  Nestle  Purina  BBVA  00123456789123456790    USD   Tesoreria

In [215]:
def myclean(cadena):
    # Utilizar una expresión regular para eliminar caracteres que no sean números o letras
    cadena_limpia = re.sub(r'[^a-zA-Z0-9\s]', '', cadena)
    return cadena_limpia

In [216]:
def randoncta():
    numero_cuenta = ""
    # Generar los primeros 8 dígitos del número de cuenta
    for _ in range(8):
        digito = random.randrange(10)  # Generar un dígito aleatorio del 0 al 9
        numero_cuenta += str(digito)
    
    # Generar el último dígito verificador del número de cuenta
    digito_verificador = random.randrange(10)  # Generar un dígito aleatorio del 0 al 9
    numero_cuenta += str(digito_verificador)
    return numero_cuenta

Modificar Plantilla de pagos

In [217]:
i=1
for indice in df.index:
    nombre_aleatorio = faker.name()
    faker.address()
    pago_copia = copy.deepcopy(pagostemp)
    nueva_fecha = fecha_actual + timedelta(days=i)
    fecha_formateada = nueva_fecha.strftime("%d-%m-%Y")
    pago_copia['infoGeneral']['compania']= "-".join([df.loc[indice, 'Empresa'],df.loc[indice, 'Negocio']])
    pago_copia['infoGeneral']['bancoCorresponsal']=df.loc[indice, 'Banco']
    pago_copia['infoGeneral']['fechaCarga']=fecha_formateada
    #info ordenante
    pago_copia['infoOrdenante']['numCuenta']['id']=df.loc[indice, 'cuenta']
    pago_copia['infoOrdenante']['nombre']="-".join([df.loc[indice, 'Empresa'],df.loc[indice, 'Negocio']])
    #pago_copia['infoOrdenante']['direccion']['numero']= myclean(faker.address()) 
    #info Beneficiario
    pago_copia['infoBeneficiario']['numCuenta']['id']=randoncta()
    pago_copia['infoBeneficiario']['nombre']=myclean(faker.name())
    pago_copia['infoBeneficiario']['direccion']['numero']= myclean(faker.address()) 
    pago_copia['infoBeneficiario']['direccion']['ciudad']= myclean(faker.city()) 
    pago_copia['infoBeneficiario']['direccion']['pais']=faker.country_code()
    #info de pagos
    pago_copia['infoPagos']['Referencias']['id']="pacs"+randoncta()
    pago_copia['infoPagos']['Referencias']['endToEndId']="pacs008EndToEndId-"+ str(random.randint(100, 500))
    pago_copia['infoPagos']['Monto']['moneda']=df.loc[indice, 'Divisa']
    pago_copia['infoPagos']['Monto']['valor']=round(random.uniform(1000, 10000), 2)
    pago_copia['infoPagos']['fechaPago']=fecha_formateada
    pago_copia['infoPagos']['infoAdicional']= "Facturas No: "+str(random.randint(100, 5000)) 
    arreglo.append(pago_copia)
    i=i+1

Generar Archivo JSON-WorkFlow Pagos

In [218]:
json_file = '/Users/wilfredysantamariaruiz/Downloads/pagos-workflow.json'

In [219]:
# Escribe los datos en un archivo JSON
def mywrite(json_file,arreglo):
    with open(json_file, 'w') as file:
      json.dump(arreglo, file, indent=4)

In [220]:
mywrite(json_file,arreglo)

Template Json Movimientos

In [221]:
movtemp={
    "infoGeneral":{
      "compania":"1 - Empresa ABC",
      "bancoCorresponsal": "Bancolombia",
      "estado":"Cargado",
      "fechaCarga":"17-03-2023",
      "numCuenta": {
        "id": "cta123456",
        "tipo": "AHO-Ahorros"
      }
     },
     "infoMovimientos": [
      {
        "Referencias": {
          "id": "pacs8bizmsgidr01",
          "endToEndId": "pacs008EndToEndId-111",
          "uetr": "f1636d6e-1ed0-4b56-a7be-5706eb62ba9f"
        },
        "Monto": {
          "moneda": "USD",
          "valor": "50.00"
        },
        "fechaValor": "17-03-2023",
        "naturaleza": "Debito",
        "infoAdicional": "Pago proveedor telas"
      },
      {
        "Referencias": {
          "id": "pacs8bizmsgidr02",
          "endToEndId": "pacs008EndToEndId-112",
          "uetr": "f1636d6e-1ed0-4b56-a7be-5706eb62ba9f"
        },
        "Monto": {
          "moneda": "USD",
          "valor": "110.00"
        },
        "fechaValor": "17-03-2023",
        "naturaleza": "Debito",
        "infoAdicional": "Transferencias bancaria pago impuestos"
      }
    ]
  }

In [222]:
arreglomov = []
naturaleza = ['Debito', 'Credito']
conceptos=['Transferencias electronicas u otras formas','Cargos o comisiones','Intereses','cheques emitidos','sumando los intereses ganados']

Modificar Plantilla de Movimientos

In [223]:
i=1
for indice in df.index:
    mov_copia = copy.deepcopy(movtemp)
    nueva_fecha = fecha_actual + timedelta(days=i)
    fecha_formateada = nueva_fecha.strftime("%d-%m-%Y")
    mov_copia['infoGeneral']['compania']= "-".join([df.loc[indice, 'Empresa'],df.loc[indice, 'Negocio']])
    mov_copia['infoGeneral']['bancoCorresponsal']=df.loc[indice, 'Banco']
    mov_copia['infoGeneral']['fechaCarga']=fecha_formateada
    mov_copia['infoGeneral']['numCuenta']['id']=df.loc[indice, 'cuenta']
    #info movimientos
    mov_copia['infoMovimientos'][0]['Referencias']['id']="pacs"+randoncta()
    mov_copia['infoMovimientos'][0]['Referencias']['endToEndId']="pacs008EndToEndId-"+ str(random.randint(100, 500))
    mov_copia['infoMovimientos'][0]['Monto']['moneda']=df.loc[indice, 'Divisa']
    mov_copia['infoMovimientos'][0]['Monto']['valor']=round(random.uniform(1000, 10000), 2)
    mov_copia['infoMovimientos'][0]['fechaValor']=fecha_formateada
    mov_copia['infoMovimientos'][0]['naturaleza']=random.choice(naturaleza)
    mov_copia['infoMovimientos'][0]['infoAdicional']=random.choice(conceptos) 
    #bloque 2
    mov_copia['infoMovimientos'][1]['Referencias']['id']="pacs"+randoncta()
    mov_copia['infoMovimientos'][1]['Referencias']['endToEndId']="pacs008EndToEndId-"+ str(random.randint(100, 500))
    mov_copia['infoMovimientos'][1]['Monto']['moneda']=df.loc[indice, 'Divisa']
    mov_copia['infoMovimientos'][1]['Monto']['valor']=round(random.uniform(1000, 10000), 2)
    mov_copia['infoMovimientos'][1]['fechaValor']=fecha_formateada
    mov_copia['infoMovimientos'][1]['naturaleza']=random.choice(naturaleza)
    mov_copia['infoMovimientos'][1]['infoAdicional']=random.choice(conceptos) 
    arreglomov.append(mov_copia)
    i=i+1

In [224]:
json_filemov = '/Users/wilfredysantamariaruiz/Downloads/Extractos-Consulta movimientos.json'
mywrite(json_filemov,arreglomov)

Template Json Posicion-Saldos

In [225]:
postemp= {
    "infoGeneral":{
      "compania":"1 - Empresa ABC",
      "bancoCorresponsal": "Bancolombia",
      "estado":"Cargado",
      "fechaCarga":"17-03-2023",
      "numCuenta": {
        "id": "cta123456",
        "tipo": "AHO-Ahorros"
      },
      "fechaInicio":"12-03-2023",
      "fechaFin":"12-03-2023"
     },
     "infobalance":
     [
      {
        "tipo":  "Saldo Inicial",
        "Monto": {
          "moneda": "USD",
          "valor": "50.00"
        },
         "naturaleza": "DEBITO"
      },
      {
        "tipo":  "Saldo Final",
        "Monto": {
          "moneda": "USD",
          "valor": "50.00"
        },
        "naturaleza": "DEBITO"
      },
      {
        "tipo":  "Saldo Disponible",
        "Monto": {
          "moneda": "USD",
          "valor": "50.00"
        },
         "naturaleza": "DEBITO"
      },
      {
        "tipo":  "Saldo en Canje",
        "Monto": {
          "moneda": "USD",
          "valor": "10.00"
        },
         "naturaleza": "DEBITO"
      }
    ]
  }

In [226]:
arreglopos = []

Modificar Plantilla de Saldos

In [227]:
i=1
for indice in df.index:
    pos_copia = copy.deepcopy(postemp)
    nueva_fecha = fecha_actual + timedelta(days=i)
    fecha_formateada = nueva_fecha.strftime("%d-%m-%Y")
    pos_copia['infoGeneral']['compania']= "-".join([df.loc[indice, 'Empresa'],df.loc[indice, 'Negocio']])
    pos_copia['infoGeneral']['bancoCorresponsal']=df.loc[indice, 'Banco']
    pos_copia['infoGeneral']['fechaCarga']=fecha_formateada
    pos_copia['infoGeneral']['numCuenta']['id']=df.loc[indice, 'cuenta']
    pos_copia['infoGeneral']['fechaInicio']=fecha_formateada
    pos_copia['infoGeneral']['fechaFin']=fecha_formateada
    #info saldos
    pos_copia['infobalance'][0]['Monto']['moneda']=df.loc[indice, 'Divisa']
    pos_copia['infobalance'][0]['Monto']['valor']=round(random.uniform(10000, 40000), 2)
    pos_copia['infobalance'][0]['naturaleza']=random.choice(naturaleza)
    #bloque 2
    pos_copia['infobalance'][1]['Monto']['moneda']=df.loc[indice, 'Divisa']
    pos_copia['infobalance'][1]['Monto']['valor']=round(random.uniform(10000, 40000), 2)
    pos_copia['infobalance'][1]['naturaleza']=random.choice(naturaleza)
    #bloque 3
    pos_copia['infobalance'][2]['Monto']['moneda']=df.loc[indice, 'Divisa']
    pos_copia['infobalance'][2]['Monto']['valor']=round(random.uniform(5000, 10000), 2)
    pos_copia['infobalance'][2]['naturaleza']=random.choice(naturaleza)
    #bloque 4
    pos_copia['infobalance'][3]['Monto']['moneda']=df.loc[indice, 'Divisa']
    pos_copia['infobalance'][3]['Monto']['valor']=round(random.uniform(5000, 10000), 2)
    pos_copia['infobalance'][3]['naturaleza']=random.choice(naturaleza)
    arreglopos.append(pos_copia)
    i=i+1

In [228]:
json_filepos = '/Users/wilfredysantamariaruiz/Downloads/Extractos-Posicion Bancaria.json'
mywrite(json_filepos,arreglopos)

In [1]:
import dtale

In [2]:
import pandas as pd

data = {'Name': ['John', 'Alice', 'Bob', 'Eve'],
        'Age': [28, 24, 22, 30],
        'Salary': [50000, 60000, 55000, 70000]}

df = pd.DataFrame(data)

In [4]:
dtale.show(df)

/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/seaborn/matrix.py:309: UserWarning:

Attempting to set identical left == right == 0 results in singular transformations; automatically expanding.

/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/seaborn/matrix.py:309: UserWarning:

Attempting to set identical bottom == top == 0 results in singular transformations; automatically expanding.

/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/scipy/cluster/hierarchy.py:2844: UserWarning:

Attempting to set identical bottom == top == 0.0 results in singular transformations; automatically expanding.

/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/seaborn/matrix.py:309: UserWarning:

Attempting to set identical left == right == 0 results in singular transformations; automatically expanding.

/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/seaborn/matrix.py:309: UserWarning:

Attempting to set identical bottom == top == 0 results in singular transformations; automatically expanding.

/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/views.py:2118: FutureWarning:

The default value of regex will change from True to False in a future version.

2023-11-29 19:29:19,830 - ERROR    - Exception on /dtale/charts/_dash-update-component [POST]
Traceback (most recent call last):
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/flask/app.py", line 2529, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/flask/app.py", line 1825, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/flask/app.py", line 1823, in full_dispatch_request
    rv = self.dispatch_request()
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/flask/app.py", line 1799, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dash/dash.py", line 1310, in dispatch
    ctx.run(
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dash/_callback.py", line 442, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/dash_application/views.py", line 1334, in group_values
    group_types = get_group_types(inputs, group_cols)
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/dash_application/layout/layout.py", line 684, in get_group_types
    return _flags("group")
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/dash_application/layout/layout.py", line 665, in _flags
    col, freq = fgc.split(CHART_JOINER_CHAR)
ValueError: not enough values to unpack (expected 2, got 1)
2023-11-29 19:29:19,984 - ERROR    - Exception on /dtale/charts/_dash-update-component [POST]
Traceback (most recent call last):
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/flask/app.py", line 2529, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/flask/app.py", line 1825, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/flask/app.py", line 1823, in full_dispatch_request
    rv = self.dispatch_request()
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/flask/app.py", line 1799, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dash/dash.py", line 1310, in dispatch
    ctx.run(
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dash/_callback.py", line 442, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/dash_application/views.py", line 1273, in main_input_class
    return main_inputs_and_group_val_display(
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/dash_application/layout/layout.py", line 1379, in main_inputs_and_group_val_display
    group_types = get_group_types(inputs)
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/dash_application/layout/layout.py", line 684, in get_group_types
    return _flags("group")
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/dash_application/layout/layout.py", line 665, in _flags
    col, freq = fgc.split(CHART_JOINER_CHAR)
ValueError: not enough values to unpack (expected 2, got 1)
2023-11-29 19:30:55,705 - ERROR    - Exception occurred while processing request: Object of type int64 is not JSON serializable
Traceback (most recent call last):
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/views.py", line 119, in _handle_exceptions
    return func(*args, **kwargs)
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/views.py", line 4077, in network_data
    return jsonify(dict(nodes=nodes, edges=edges, groups=groups, success=True))
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/utils.py", line 644, in jsonify
    return _jsonify(return_data)
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/flask/json/__init__.py", line 342, in jsonify
    return current_app.json.response(*args, **kwargs)
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/flask/json/provider.py", line 309, in response
    f"{self.dumps(obj, **dump_args)}\n", mimetype=mimetype
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/flask/json/provider.py", line 230, in dumps
    return json.dumps(obj, **kwargs)
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/json/__init__.py", line 238, in dumps
    **kw).encode(obj)
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/json/encoder.py", line 199, in encode
    chunks = self.iterencode(o, _one_shot=True)
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/json/encoder.py", line 257, in iterencode
    return _iterencode(o, 0)
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/flask/json/provider.py", line 122, in _default
    raise TypeError(f"Object of type {type(o).__name__} is not JSON serializable")
TypeError: Object of type int64 is not JSON serializable
2023-11-29 19:31:10,145 - ERROR    - Exception occurred while processing request: can only concatenate str (not "int") to str
Traceback (most recent call last):
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/views.py", line 119, in _handle_exceptions
    return func(*args, **kwargs)
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/views.py", line 4269, in build_gage_rnr
    ).calculate()
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/gage_rnr.py", line 135, in calculate
    self.result[Result.Mean] = self.calculate_mean()
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/gage_rnr.py", line 78, in calculate_mean
    mu = np.array([np.mean(self.data)])
  File "<__array_function__ internals>", line 180, in mean
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/numpy/core/fromnumeric.py", line 3474, in mean
    return _methods._mean(a, axis=axis, dtype=dtype,
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/numpy/core/_methods.py", line 179, in _mean
    ret = umr_sum(arr, axis, dtype, out, keepdims, where=where)
TypeError: can only concatenate str (not "int") to str

2023-11-29 19:31:16,046 - ERROR    - Exception occurred while processing request: can only concatenate str (not "int") to str
Traceback (most recent call last):
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/views.py", line 119, in _handle_exceptions
    return func(*args, **kwargs)
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/views.py", line 4269, in build_gage_rnr
    ).calculate()
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/gage_rnr.py", line 135, in calculate
    self.result[Result.Mean] = self.calculate_mean()
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/gage_rnr.py", line 78, in calculate_mean
    mu = np.array([np.mean(self.data)])
  File "<__array_function__ internals>", line 180, in mean
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/numpy/core/fromnumeric.py", line 3474, in mean
    return _methods._mean(a, axis=axis, dtype=dtype,
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/numpy/core/_methods.py", line 179, in _mean
    ret = umr_sum(arr, axis, dtype, out, keepdims, where=where)
TypeError: can only concatenate str (not "int") to str
/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/gage_rnr.py:212: RuntimeWarning:

invalid value encountered in double_scalars

/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/column_builders.py:1188: FutureWarning:

The default value of regex will change from True to False in a future version.

/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/column_builders.py:1150: FutureWarning:

The default value of regex will change from True to False in a future version.

2023-11-29 19:34:53,169 - ERROR    - Exception occurred while processing request: A column named 'test2' already exists!
Traceback (most recent call last):
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/views.py", line 119, in _handle_exceptions
    return func(*args, **kwargs)
  File "/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/views.py", line 1837, in build_column
    raise Exception("A column named '{}' already exists!".format(name))
Exception: A column named 'test2' already exists!
/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/column_builders.py:1188: FutureWarning:

The default value of regex will change from True to False in a future version.

/Users/wilfredysantamariaruiz/opt/anaconda3/envs/my_env1/lib/python3.10/site-packages/dtale/column_builders.py:1150: FutureWarning:

The default value of regex will change from True to False in a future version.